@{
    ViewData["Title"] = "Home Page";
}
@using GANDO.Models

@{
    var Times = "";
    if (DateTime.Now.Hour > 12)
    { Times = "Good Morning and Welcome to GANDO"; }
    else
    { Times = "Good Afternoon and Welcome to GANDO"; }
}
<html>
<body> 

    <h1>@Times</h1>

</body>
</html>