@{
    ViewData["Title"] = "Home Page";
}

@{
    var Times = "";
    if (DateTime.Now.Hour < 12)
    { Times = "Good Morning and Welcome to ForMen"; }
    else
    { Times = "Good Afternoon/Evening and Welcome to ForMen"; }
}
<html>

<style>
    p.outset {
        border-style: solid;
    }

  
    h1 {text-align: center;}
    
</style>

<body>
    <h1>@Times</h1>
</body>


</html>